{% extends "base.html" %}

{% block content %}
<div class="simple-shell">
    <section>
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
        <ul>
            {% for line in lines %}
            <li>{{ line }}</li>
            {% endfor %}
        </ul>
        <div class="actions">
            {% for action in actions %}
                {% if action.args %}
                <a class="button outline" href="{{ url_for(action.endpoint, **action.args) }}">{{ action.label }}</a>
                {% else %}
                <a class="button outline" href="{{ url_for(action.endpoint) }}">{{ action.label }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
